.grid-item {

    margin: 1rem;

    &:hover {
        cursor: pointer;
       
        .grid-item-image {
            background-color: $background-primary-hover;
            transition: background-color 0.4s ease;
            img {
                opacity: 0.8;
            }
        }

        .grid-item-name {
            color: $text-primary;
            font-weight: bold;
            transition: all 0.2s ease;
        }
    }

    .grid-item-image {
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        border: .15rem solid $border-primary;

        img {
            transition: opacity 0.4s ease;
            width:100%;
            border-radius: 50%;
        }
    }
    .grid-item-name {
        padding: 1rem;
        text-align: center;
        transition: all 0.2s ease;
    }
}