$palettes: (
    basic: (
        base: #fff,
        light: #fff,
        dark: #000
    ),
    purplish: (
        base: #821E6C,
        light: lighten(#821E6C, 10%),
        dark: darken(#821E6C, 10%)
    ),
    grayish: (
        base: #ddd,
        light: lighten(#ddd, 10%),
        dark: darken(#ddd, 10%)
    )
);

// Text vars
$text-basic: map-get(map-get($palettes, basic), dark);
$text-primary: map-get(map-get($palettes, purplish), base);
$font-size: 16px;

//Headings

$h1-base: map-get(map-get($palettes, basic), dark);
$h2-base: map-get(map-get($palettes, basic), dark);

//Background vars
$background-basic: map-get(map-get($palettes, basic), base);

$background-primary: map-get(map-get($palettes, purplish), base);
$background-primary-hover: map-get(map-get($palettes, purplish), light);

$background-secondary: map-get(map-get($palettes, grayish), base);
$background-secondary-hover: map-get(map-get($palettes, grayish), light);

$border-basic: map-get(map-get($palettes, basic), base);
$border-primary: map-get(map-get($palettes, purplish), base);
$border-primary-light: map-get(map-get($palettes, purplish), light);
$border-secondary: map-get(map-get($palettes, grayish), base);


//Nav vars
$nav-menu-item: map-get(map-get($palettes, purplish), base);
$nav-menu-item-hover: map-get(map-get($palettes, purplish), light);

//Links vars
$link-primary: map-get(map-get($palettes, purplish), base);


//Breakpoints vars
$screen-xs: 320px;
$screen-xs-max: 736px;