.App {
  text-align: center;
  background-color: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #ff0000;
}

.main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}